# Configuration files
.idea/
.vscode/
.DS_Store

# Build files
cmake-build-debug/
build/

# Executables
*.vocout

# Something
test/typeCheckerTest.vo
test/typeCheckerAllTests.vo
test/microtests/main.out
test/microtests/test_out.o